<h1>Teacher, <%=  "#{@teacher.first_name} #{@teacher.last_name}"%></h1>

<br>
<%= @teacher.email %>&nbsp;LOGGED IN -----
<br>
<br>

<br>
<% if @teacher.institution.nil?%>
    You do not belong to any institute. Please ask your institute to add you into their account.
<% else %>
    You belong to Institute - <%= @teacher.institution.institution_name %>
<% end%>
<br>
<hr>
<br>
<% exams = @teacher.examinations rescue ""%>
<% unless @teacher.institution_id.nil?%>
    <% unless exams.blank? %>
        You have created <%= exams.count %> tests for institute - <%= @teacher.institution.institution_name %>. <br>
        Please click on the tests below to view or modify them.
        <br>
        <br>
        <% exams.each do |e| %>
            <%= link_to "#{e.standard}-#{e.subject}-#{e.chapter}", examination_path(e) %><br>
        <% end %>

 <% else %>
        You have not created any tests yet.
    <% end %>
    <br>
<%= link_to "Create Test", new_examination_path%>
<br>
<hr>
<br>
<% end %>

<%= link_to destroy_member_session_path, :method=>'delete' do %><i class="icon-warning-sign"></i> Logout<% end %>
