<h1>Institution, <%= "#{@institution.institution_name.titleize}"%></h1>
<%= @institution.email %>&nbsp;LOGGED IN -----
<br>
<hr>
<br>
<% if @teacher_enrolled.blank?%>
    You have not enrolled any teachers into your institution yet.
<% else %>
    Teachers enrolled in your institute are -<br>
    <% @teacher_enrolled.each do |t|%>
        <%= "#{t.id}. #{t.first_name} #{t.last_name}"%>&nbsp;|&nbsp;
        <%= link_to "Remove", remove_teacher_from_institution_institution_path(t), :confirm => "Are you sure you want to remove this teacher from your institution?"%><br>
    <% end%>
<% end%>


<br>
<br>

Add more teachers to your institute -
<%= form_tag({:controller => "institution",:action => "add_teacher_to_institute"}) do %>
    <%= select_tag :teacher_name, options_for_select(Institution.get_available_teachers_info)%>
    <%= submit_tag "Add This Teacher"%>
<% end %>

<br>
<hr>
<br>
<% if @students_enrolled.blank?%>
    You have not enrolled any students into your institution yet.
<% else %>
    Students enrolled in your institute are -<br>
    <% @students_enrolled.each do |t|%>
        <%= "#{t.id}. #{t.first_name} #{t.last_name}"%>&nbsp;|&nbsp;
        <%= link_to "Remove", remove_student_from_institution_institution_path(t), :confirm => "Are you sure you want to remove this student from your institution?"%><br>
    <% end%>
<% end%>


<br>
<br>

Add more student to your institute -
<%= form_tag({:controller => "institution",:action => "add_student_to_institute"}) do %>
    <%= select_tag :student_name, options_for_select(Institution.get_available_student_info)%>
    <%= submit_tag "Add This Student"%>
<% end %>

<br>
<hr>
<br>
<div class="rect-box">
    <% unless @examinations.blank? %>
        The examinations existing for this Institute are -
        <% @examinations.each do |s,exams| %>
          <hr>
          <%= "Tests available for standard - #{s}" %><br>
          <% exams.each do |exam|%>
            <%= link_to "#{s}-#{exam.subject}-#{exam.chapter} | Marks : #{exam.total_marks} | Time : #{exam.total_time}min", examination_path(exam) %><br>
        <% end %>
        <% end %>
    <% else %>
        No tests have been created by the teachers. Please ask teachers to log in from their account and craete examinations
    <% end %>
</div>
<br>
<hr>
<br>
<%= link_to destroy_member_session_path, :method=>'delete' do %><i class="icon-warning-sign"></i> Logout<% end %>


